<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpensercpt.mkumar.xpensercpt" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddTripActivity"
            android:label="@string/title_activity_add_trip"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TripsActivity"
            android:label="@string/title_activity_trips"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ReceiptActivity"
            android:label="@string/title_activity_receipt"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ReceiptImageActivity"
            android:label="@string/title_activity_receipt_image"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PDFViewActivity"
            android:label="@string/title_activity_pdfview"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xpensercpt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/-->


</manifest>
